<div class = "container" "align-center">
    <ul>
        <% @products.each do |product|%>
        <li>
            Name : <%= product.name %>, Category : <%= product.category %>, URL : <%= product.url %>
        </li>
        <% end %>
    </ul>
</div>