<div class = "container" text-align = "center"> 
    <h1>
        Wagon - Hunt
    </h1>
    <h4>
        Product Presentation : <%= @product.name %>
    </h4>
    <p>
        Category : <%= @product.category%>
        Url : <%= @product.url%>
    </p>
</div>