<div class = "container" "text-center"> 
    <h1>
        Wagon - Hunt
    </h1>
    <h4>
        Product Presentation : <%= @product.name %>
    </h4>
    <p>
        Category : <%= @product.category%>
    </p>
    <p>
        Url : <%= @product.url%>
    </p>
    <p>
        <%= link_to "back to products list", products_path %>
    </p>
</div>